flask
flask-cors
langchain
langchain-community
pydantic
faiss-cpu
pypdf2
pydantic-settings
python-dotenv
sentence-transformers
pypdf
rapidocr-onnxruntime
numpy
langchain-huggingface
ddgs
requests
cryptography
pymupdf
pdfplumber
